In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
#Store CSV into Dataframe

df = "./Resources/Mass Shootings Dataset Ver 5 2.csv"
mass_shootings_data_df = pd.read_csv(df)
mass_shootings_data_df

,S#,Title,Location,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,"Sutherland Springs, TX",11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,...,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
1,2,Walmart shooting in suburban Denver,"Thornton, CO",11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,...,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
2,3,Edgewood businees park shooting,"Edgewood, MD",10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,...,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
3,4,Las Vegas Strip mass shooting,"Las Vegas, NV",10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,...,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
4,5,San Francisco UPS shooting,"San Francisco, CA",6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,...,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,319,Clara Barton Elementary School,"Chicago, Illinois",1/17/1974,Clara Barton Elementary School,Close,Teachers,anger,"On January 17, 1974, a 14-year-old student ent...",1,...,4,0.0,14,NaN,NaN,Yes,Unknown,Male,41.839280,-87.688181
319,320,New Orleans Police Shootings,"New Orleans, Louisiana",12/31/1972,NaN,NaN,random,psycho,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,...,22,4.0,23,NaN,NaN,Yes,Black American or African American,Male,30.068724,-89.931474
320,321,St. Aloysius Church,"Spokane, Washington",11/11/1971,Church,Close,random,terrorism,"On November 11, 1971, a former MIT student ent...",2,...,5,0.0,NaN,NaN,NaN,Yes,White American or European American,Male,47.673674,-117.415984
321,322,Rose-Mar College of Beauty,"Mesa, Arizona",11/12/1966,Rose-Mar College of Beauty,Close,random,terrorism,"On November 12, 1966, an 18-year-old high scho...",5,...,6,0.0,18,NaN,NaN,Yes,White American or European American,Male,33.422687,-111.816320
322,323,University of Texas at Austin,"Austin, Texas",8/1/1966,University of Texas,Close,random,terrorism,"On August 1, 1966, a 25-year-old engineering s...",17,...,48,0.0,25,NaN,NaN,Yes,White American or European American,Male,30.198887,-97.844159

In [3]:
#Split Location Column 

split_df = mass_shootings_data_df["Location"].str.split(',',1, expand = True)
split_df

                      0            1
0    Sutherland Springs           TX
1              Thornton           CO
2              Edgewood           MD
3             Las Vegas           NV
4         San Francisco           CA
..                  ...          ...
318             Chicago     Illinois
319         New Orleans    Louisiana
320             Spokane   Washington
321                Mesa      Arizona
322              Austin        Texas

[323 rows x 2 columns]

In [4]:
# Convert Columns to Strings
split_df.columns = split_df.columns.map(str)

In [5]:
# Rename Columns 

rename_df= split_df.rename(columns={"0": "City", "1": "State"})
rename_df.head()

                 City State
0  Sutherland Springs    TX
1            Thornton    CO
2            Edgewood    MD
3           Las Vegas    NV
4       San Francisco    CA

In [6]:
#Drop location column from mass_shootings_data_df 

mass_shootings_data_df.drop('Location', inplace=True, axis=1)
mass_shootings_data_df.head()

,S#,Title,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,Injured,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,20,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
1,2,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,0,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
2,3,Edgewood businees park shooting,10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,3,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
3,4,Las Vegas Strip mass shooting,10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,527,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
4,5,San Francisco UPS shooting,6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN

In [7]:
# Drop Age Column 
mass_shootings_data_df.drop('Age', inplace=True, axis=1)
mass_shootings_data_df.head()

,S#,Title,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,Injured,Total victims,Policeman Killed,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,20,46,0.0,NaN,NaN,No,White,M,NaN,NaN
1,2,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,0,3,0.0,NaN,NaN,No,White,M,NaN,NaN
2,3,Edgewood businees park shooting,10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,3,6,0.0,NaN,Advance Granite Store,No,Black,M,NaN,NaN
3,4,Las Vegas Strip mass shooting,10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,527,585,1.0,NaN,NaN,Unclear,White,M,36.181271,-115.134132
4,5,San Francisco UPS shooting,6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,0.0,1.0,NaN,Yes,Asian,M,NaN,NaN

In [8]:
#Create new dataframe that includes City and State 

new_df = pd.concat([mass_shootings_data_df, rename_df], axis=1, sort=False)
new_df

,S#,Title,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,Injured,...,Policeman Killed,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude,City,State
0,1,Texas church mass shooting,11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,20,...,0.0,NaN,NaN,No,White,M,NaN,NaN,Sutherland Springs,TX
1,2,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,0,...,0.0,NaN,NaN,No,White,M,NaN,NaN,Thornton,CO
2,3,Edgewood businees park shooting,10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,3,...,0.0,NaN,Advance Granite Store,No,Black,M,NaN,NaN,Edgewood,MD
3,4,Las Vegas Strip mass shooting,10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,527,...,1.0,NaN,NaN,Unclear,White,M,36.181271,-115.134132,Las Vegas,NV
4,5,San Francisco UPS shooting,6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,...,0.0,1.0,NaN,Yes,Asian,M,NaN,NaN,San Francisco,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,319,Clara Barton Elementary School,1/17/1974,Clara Barton Elementary School,Close,Teachers,anger,"On January 17, 1974, a 14-year-old student ent...",1,3,...,0.0,NaN,NaN,Yes,Unknown,Male,41.839280,-87.688181,Chicago,Illinois
319,320,New Orleans Police Shootings,12/31/1972,NaN,NaN,random,psycho,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,13,...,4.0,NaN,NaN,Yes,Black American or African American,Male,30.068724,-89.931474,New Orleans,Louisiana
320,321,St. Aloysius Church,11/11/1971,Church,Close,random,terrorism,"On November 11, 1971, a former MIT student ent...",2,4,...,0.0,NaN,NaN,Yes,White American or European American,Male,47.673674,-117.415984,Spokane,Washington
321,322,Rose-Mar College of Beauty,11/12/1966,Rose-Mar College of Beauty,Close,random,terrorism,"On November 12, 1966, an 18-year-old high scho...",5,1,...,0.0,NaN,NaN,Yes,White American or European American,Male,33.422687,-111.816320,Mesa,Arizona
322,323,University of Texas at Austin,8/1/1966,University of Texas,Close,random,terrorism,"On August 1, 1966, a 25-year-old engineering s...",17,32,...,0.0,NaN,NaN,Yes,White American or European American,Male,30.198887,-97.844159,Austin,Texas

In [9]:
new_df.to_csv(r'/Users/aliciasmith/Desktop/ETL_Project_Gun_Violence-MS_Database/MS.csv', index = False)

In [10]:
# # Drop NA in Latitude Column 
# new_df.dropna(subset=['Latitude'])

new_df = new_df[new_df['Latitude'].notna()]
new_df

,S#,Title,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,Injured,...,Policeman Killed,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude,City,State
3,4,Las Vegas Strip mass shooting,10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,527,...,1.0,NaN,NaN,Unclear,White,M,36.181271,-115.134132,Las Vegas,NV
14,15,"Ferguson, MO Drive by",4/29/2016,NaN,Open,random,NaN,A group of 15 to 20 people was gathered for a ...,0,4,...,0.0,NaN,NaN,Unknown,Unknown,Unknown,38.744217,-90.305391,Ferguson,Missouri
15,16,"Forestville, Maryland Drive-by",4/26/2016,in street,Open,NaN,NaN,Shooter shot from his car at people standing o...,1,4,...,0.0,NaN,NaN,Unknown,Unknown,Unknown,38.845113,-76.874972,NaN,NaN
16,17,"Halifax County, VA",4/24/2016,crown,Open,random,NaN,Male shooter fired into crown when a deputy po...,0,6,...,0.0,NaN,NaN,Unknown,Black American or African American,Male,36.765971,-78.928344,NaN,NaN
17,18,Tire-Slashing revenge escalation,4/21/2016,block party,Open,random,frustration,Shooter was angry over fact that rival familie...,0,4,...,0.0,NaN,NaN,Unknown,Black American or African American,Male,39.290385,-76.612189,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,319,Clara Barton Elementary School,1/17/1974,Clara Barton Elementary School,Close,Teachers,anger,"On January 17, 1974, a 14-year-old student ent...",1,3,...,0.0,NaN,NaN,Yes,Unknown,Male,41.839280,-87.688181,Chicago,Illinois
319,320,New Orleans Police Shootings,12/31/1972,NaN,NaN,random,psycho,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,13,...,4.0,NaN,NaN,Yes,Black American or African American,Male,30.068724,-89.931474,New Orleans,Louisiana
320,321,St. Aloysius Church,11/11/1971,Church,Close,random,terrorism,"On November 11, 1971, a former MIT student ent...",2,4,...,0.0,NaN,NaN,Yes,White American or European American,Male,47.673674,-117.415984,Spokane,Washington
321,322,Rose-Mar College of Beauty,11/12/1966,Rose-Mar College of Beauty,Close,random,terrorism,"On November 12, 1966, an 18-year-old high scho...",5,1,...,0.0,NaN,NaN,Yes,White American or European American,Male,33.422687,-111.816320,Mesa,Arizona
322,323,University of Texas at Austin,8/1/1966,University of Texas,Close,random,terrorism,"On August 1, 1966, a 25-year-old engineering s...",17,32,...,0.0,NaN,NaN,Yes,White American or European American,Male,30.198887,-97.844159,Austin,Texas

In [11]:
new_df.isnull().sum()

S#                        0
Title                     0
Date                      0
Incident Area            59
Open/Close Location      27
Target                    5
Cause                    69
Summary                   0
Fatalities                0
Injured                   0
Total victims             0
Policeman Killed          1
Employeed (Y/N)         243
Employed at             271
Mental Health Issues      0
Race                      0
Gender                    0
Latitude                  0
Longitude                 0
City                     45
State                    46
dtype: int64

In [12]:
title_df = new_df[["Title", "Date", "Incident Area", "Fatalities", "Injured", "Race", "Gender", "Latitude", "Longitude", "City", "State"]]
title_df

,Title,Date,Incident Area,Fatalities,Injured,Race,Gender,Latitude,Longitude,City,State
3,Las Vegas Strip mass shooting,10/1/2017,Las Vegas Strip Concert outside Mandala Bay,59,527,White,M,36.181271,-115.134132,Las Vegas,NV
14,"Ferguson, MO Drive by",4/29/2016,NaN,0,4,Unknown,Unknown,38.744217,-90.305391,Ferguson,Missouri
15,"Forestville, Maryland Drive-by",4/26/2016,in street,1,4,Unknown,Unknown,38.845113,-76.874972,NaN,NaN
16,"Halifax County, VA",4/24/2016,crown,0,6,Black American or African American,Male,36.765971,-78.928344,NaN,NaN
17,Tire-Slashing revenge escalation,4/21/2016,block party,0,4,Black American or African American,Male,39.290385,-76.612189,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
318,Clara Barton Elementary School,1/17/1974,Clara Barton Elementary School,1,3,Unknown,Male,41.839280,-87.688181,Chicago,Illinois
319,New Orleans Police Shootings,12/31/1972,NaN,10,13,Black American or African American,Male,30.068724,-89.931474,New Orleans,Louisiana
320,St. Aloysius Church,11/11/1971,Church,2,4,White American or European American,Male,47.673674,-117.415984,Spokane,Washington
321,Rose-Mar College of Beauty,11/12/1966,Rose-Mar College of Beauty,5,1,White American or European American,Male,33.422687,-111.816320,Mesa,Arizona
322,University of Texas at Austin,8/1/1966,University of Texas,17,32,White American or European American,Male,30.198887,-97.844159,Austin,Texas

In [13]:
# Organize the columns so they are in a more logical order

final1_df = title_df[["Date", "Title", "Incident Area", "City", "State", "Latitude", "Longitude", "Fatalities", "Injured", "Race", "Gender"]]
final1_df

,Date,Title,Incident Area,City,State,Latitude,Longitude,Fatalities,Injured,Race,Gender
3,10/1/2017,Las Vegas Strip mass shooting,Las Vegas Strip Concert outside Mandala Bay,Las Vegas,NV,36.181271,-115.134132,59,527,White,M
14,4/29/2016,"Ferguson, MO Drive by",NaN,Ferguson,Missouri,38.744217,-90.305391,0,4,Unknown,Unknown
15,4/26/2016,"Forestville, Maryland Drive-by",in street,NaN,NaN,38.845113,-76.874972,1,4,Unknown,Unknown
16,4/24/2016,"Halifax County, VA",crown,NaN,NaN,36.765971,-78.928344,0,6,Black American or African American,Male
17,4/21/2016,Tire-Slashing revenge escalation,block party,NaN,NaN,39.290385,-76.612189,0,4,Black American or African American,Male
...,...,...,...,...,...,...,...,...,...,...,...
318,1/17/1974,Clara Barton Elementary School,Clara Barton Elementary School,Chicago,Illinois,41.839280,-87.688181,1,3,Unknown,Male
319,12/31/1972,New Orleans Police Shootings,NaN,New Orleans,Louisiana,30.068724,-89.931474,10,13,Black American or African American,Male
320,11/11/1971,St. Aloysius Church,Church,Spokane,Washington,47.673674,-117.415984,2,4,White American or European American,Male
321,11/12/1966,Rose-Mar College of Beauty,Rose-Mar College of Beauty,Mesa,Arizona,33.422687,-111.816320,5,1,White American or European American,Male
322,8/1/1966,University of Texas at Austin,University of Texas,Austin,Texas,30.198887,-97.844159,17,32,White American or European American,Male

In [16]:
# Reset index 
final1_df.reset_index(drop=True)

,Date,Title,Incident Area,City,State,Latitude,Longitude,Fatalities,Injured,Race,Gender
0,10/1/2017,Las Vegas Strip mass shooting,Las Vegas Strip Concert outside Mandala Bay,Las Vegas,NV,36.181271,-115.134132,59,527,White,M
1,4/29/2016,"Ferguson, MO Drive by",NaN,Ferguson,Missouri,38.744217,-90.305391,0,4,Unknown,Unknown
2,4/26/2016,"Forestville, Maryland Drive-by",in street,NaN,NaN,38.845113,-76.874972,1,4,Unknown,Unknown
3,4/24/2016,"Halifax County, VA",crown,NaN,NaN,36.765971,-78.928344,0,6,Black American or African American,Male
4,4/21/2016,Tire-Slashing revenge escalation,block party,NaN,NaN,39.290385,-76.612189,0,4,Black American or African American,Male
...,...,...,...,...,...,...,...,...,...,...,...
298,1/17/1974,Clara Barton Elementary School,Clara Barton Elementary School,Chicago,Illinois,41.839280,-87.688181,1,3,Unknown,Male
299,12/31/1972,New Orleans Police Shootings,NaN,New Orleans,Louisiana,30.068724,-89.931474,10,13,Black American or African American,Male
300,11/11/1971,St. Aloysius Church,Church,Spokane,Washington,47.673674,-117.415984,2,4,White American or European American,Male
301,11/12/1966,Rose-Mar College of Beauty,Rose-Mar College of Beauty,Mesa,Arizona,33.422687,-111.816320,5,1,White American or European American,Male
302,8/1/1966,University of Texas at Austin,University of Texas,Austin,Texas,30.198887,-97.844159,17,32,White American or European American,Male

In [18]:
#Check data types

final1_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 3 to 322
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           303 non-null    object
 1   Title          303 non-null    object
 2   Incident Area  244 non-null    object
 3   City           258 non-null    object
 4   State          257 non-null    object
 5   Latitude       303 non-null    float64
 6   Longitude      303 non-null    float64
 7   Fatalities     303 non-null    int64
 8   Injured        303 non-null    int64
 9   Race           303 non-null    object
 10  Gender         303 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 28.4+ KB

In [20]:
# Format column to 3 decimal points 

final1_df['Latitude']= final1_df['Latitude'].round(decimals=3)
final1_df['Longitude'] = final1_df['Longitude'].round(decimals=3)

In [21]:
#Combine Latitue and Logitude into one column 

final1_df['Latitude, Longitude'] = "(" + final1_df['Latitude'].astype(str) + ", " + final1_df['Longitude'].astype(str) + ")"
final1_df.head()

,Date,Title,Incident Area,City,State,Latitude,Longitude,Fatalities,Injured,Race,Gender,"Latitude, Longitude"
3,10/1/2017,Las Vegas Strip mass shooting,Las Vegas Strip Concert outside Mandala Bay,Las Vegas,NV,36.181,-115.134,59,527,White,M,"(36.181, -115.134)"
14,4/29/2016,"Ferguson, MO Drive by",NaN,Ferguson,Missouri,38.744,-90.305,0,4,Unknown,Unknown,"(38.744, -90.305)"
15,4/26/2016,"Forestville, Maryland Drive-by",in street,NaN,NaN,38.845,-76.875,1,4,Unknown,Unknown,"(38.845, -76.875)"
16,4/24/2016,"Halifax County, VA",crown,NaN,NaN,36.766,-78.928,0,6,Black American or African American,Male,"(36.766, -78.928)"
17,4/21/2016,Tire-Slashing revenge escalation,block party,NaN,NaN,39.290,-76.612,0,4,Black American or African American,Male,"(39.29, -76.612)"

In [23]:
final1_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 3 to 322
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 303 non-null    object
 1   Title                303 non-null    object
 2   Incident Area        244 non-null    object
 3   City                 258 non-null    object
 4   State                257 non-null    object
 5   Latitude             303 non-null    float64
 6   Longitude            303 non-null    float64
 7   Fatalities           303 non-null    int64
 8   Injured              303 non-null    int64
 9   Race                 303 non-null    object
 10  Gender               303 non-null    object
 11  Latitude, Longitude  303 non-null    object
dtypes: float64(2), int64(2), object(8)
memory usage: 30.8+ KB

In [25]:
final1_df.to_csv(r'/Users/aliciasmith/Desktop/ETL_Project_Gun_Violence-MS_Database/Final2.csv', index = False)